@font-face {
    font-family: SF Dih;
    src: url("./InterVar.ttf");
}
[tromoSM="mainvid"]{
  width: 100vw;
  height: 100vh;
  background:#000;
  transition: 0.2s;
}
html,body{
 margin: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
 padding: 0;
}
#dihid {
  fill: rgb(255, 255, 255);
}
[cover]{
  object-fit: cover ;
  animation: open-cov 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
[scale]{
  object-fit: contain ;
  animation: open-rev-cov 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
pointer{
  background: white;
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: fixed;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
  display: none;
  transform:  translate(-50%,-50%) scale(0);
  z-index: +9999;
  top: 0;
  left: 0;
  border-radius: 50px;
  mix-blend-mode: difference;
}
[active-b]{
  background: white;
}
[active-b] svg{
  stroke: rgb(0, 0, 0) !important;
}
[activate]{display: block;}
[deactivate]{display: none;}
[active='ahh']{
  transform: translate(-50%,-50%) scale(1);
}
[active='fuhnaw']{
  transform:  translate(-50%,-50%) scale(0);
}
@keyframes open-cov{
  from{
    transform: scale(0.8);
  }
  to{
    transform: scale(1);
  }
}
@keyframes open-rev-cov{
  from{
    transform: scale(1.2);
  }
  to{
    transform: scale(1);
  }
}
panel{
    position:absolute;
    display: flex;
    top: 0;
    right: 0;
    z-index: +9999;
}
panel svg{
    width: 20px;
}
panel button{
	width: 31px;
	height: 31px;
	overflow: hidden;
	background: #00000045;
	border: none;
	outline: none;
	border-radius: 50px;
	display: flex;
	justify-content: center;
    position: relative;
  cursor: pointer;
	align-items: center;
}
panel {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  margin: 10px;
  box-shadow:  2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  padding: 3px;
  background: #f0f8ff21;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  gap: 3px;
  -webkit-backdrop-filter: blur(10px);
}
panel button::before{
    width: 100%;
  background: #f0f8ff21;
    height: 100%;
    border-radius: 50px;
    top: 0;
    transition: 0.2s;
    transform: scale(0);
    left: 0;
    content: '';
    position: absolute;
    filter: blur(5px);
}
panel button:active::before{
    transform: scale(1);
}
panel svg{
    stroke:white;
}
html,body{
  font-family: SF Dih;
}
svg{
  max-height: 100%;
  -webkit-display:block;
  padding: 0;
  flex-shrink: 0 !important;
  margin: 0;
  box-sizing: border-box;
  display: block !important;
}
