@font-face {
    font-family: SF Dih;
    src: url("./InterVar.ttf");
}
@property --bg-dih {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}
@keyframes ani-c-p-RT {
  to {
    --bg-dih: 360deg;
  }
}
mainindicate {
    width: fit-content;
    height: 70%;
    display: flex;
    position: absolute;
    right: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow:-2px -2px 3px #ffffffa8, 2px 2px 3px #8d8d8d;
    padding: 0px 10px;
    cursor: pointer;
    animation: ani-c-p-RT 2.5s infinite linear running;
    background: linear-gradient(to bottom, oklch(0.96 0 0 / 0.95), oklch(0.98 0 0)) padding-box, conic-gradient(from var(--bg-dih), oklch(0.72 0.23 22.77) 0%, oklch(1 0 0 / 0) 25%, oklch(1 0 0 / 0) 50%, oklch(0.72 0.23 22.66) 100%) border-box;
  border: 1px solid transparent;
  /*codepen/jlengstorf/WNPGMJo*/
}
mainindicate:hover{
  animation-play-state: paused;
  filter: contrast(0.9);
  transition: 0.2s;
}
mainindicate:active *{
  transform-origin: center;
  transform: scale(0);
  transition: 0.2s;
}
@keyframes open-scale-f{
  from{
    transform: scale(0.7);
  }
  to{
    transform: scale(1);
  }
}
ani-tri {
    display: block;
    width: 0;
    height: 0;
    border-radius: 15%;
    margin-right: 6px;
    box-sizing: border-box;
    border-left: 14px solid #696969;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    animation: open-scale-f 0.3s;
}
ani-cir {
    display: block;
    width: 14px;
    height: 14px;
    background: #696969;
    border-radius: 15%;
    animation: open-scale-f 0.3s;
    margin-right: 6px;
}
[admin=maintitle]{
  margin: 0;
  padding: 0;
  font-size: larger;
}
body[override='admin']{
  background: #f7f7f7;
}
[override="admin-imim"] {
    background: white !important;
    width: 250px !important;
    height: auto !important;
    box-shadow: 6px 7px 15px #afafaf6b, -6px -7px 15px #ffffff !important;
    min-height: 141px;
    margin:0px 20px;
    border: none !important;
    outline: none !important;
    padding: 10px;
    border-radius: 15px;
}
web-seperator{
  display: block;
  height: 80px;
  background: transparent;
  opacity: 0;
  width: 100%;
}
header[tromoSM=admin] {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 0px 10px;
    box-shadow: 0px 0px 6px #0000003b, inset 0px -2px 6px #ffffff;
    box-sizing: border-box;
    height: 40px;
    top: 0;
    z-index: +999999999967;
}
[tromoSM="mainvid"]{
  width: 100vw;
  height: 100vh;
  background:#000;
  transition: 0.2s;
}
html,body{
 margin: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
 padding: 0;
}
#dihid {
  fill: rgb(255, 255, 255);
}
[cover]{
  object-fit: cover ;
  animation: open-cov 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
[scale]{
  object-fit: contain ;
  animation: open-rev-cov 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
pointer{
  background: white;
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: fixed;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
  display: none;
  transform:  translate(-50%,-50%) scale(0);
  z-index: +9999;
  top: 0;
  left: 0;
  border-radius: 50px;
  mix-blend-mode: difference;
}
[active-b]{
  background: white;
}
[active-b] svg{
  stroke: rgb(0, 0, 0) !important;
}
[activate]{display: block;}
[deactivate]{display: none;}
[active='ahh']{
  transform: translate(-50%,-50%) scale(1);
}
[active='fuhnaw']{
  transform:  translate(-50%,-50%) scale(0);
}
@keyframes open-cov{
  from{
    transform: scale(0.8);
  }
  to{
    transform: scale(1);
  }
}
@keyframes open-rev-cov{
  from{
    transform: scale(1.2);
  }
  to{
    transform: scale(1);
  }
}
panel{
    position:absolute;
    display: flex;
    top: 0;
    right: 0;
    z-index: +9999;
}
panel svg{
    width: 20px;
}
panel button{
	width: 31px;
	height: 31px;
	overflow: hidden;
	background: #00000045;
	border: none;
	outline: none;
	border-radius: 50px;
	display: flex;
	justify-content: center;
    position: relative;
  cursor: pointer;
	align-items: center;
}
panel {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  margin: 10px;
  box-shadow:  2px 2px 2px -3px rgba(255, 255, 255, 0.65) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.61) inset, 0px 0px 15px rgba(0, 0, 0, 0.329);
  padding: 3px;
  background: #f0f8ff21;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  gap: 3px;
  -webkit-backdrop-filter: blur(10px);
}
panel button::before{
    width: 100%;
  background: #f0f8ff21;
    height: 100%;
    border-radius: 50px;
    top: 0;
    transition: 0.2s;
    transform: scale(0);
    left: 0;
    content: '';
    position: absolute;
    filter: blur(5px);
}
panel button:active::before{
    transform: scale(1);
}
panel svg{
    stroke:white;
}
html,body{
  font-family: SF Dih;
}
svg{
  max-height: 100%;
  -webkit-display:block;
  padding: 0;
  flex-shrink: 0 !important;
  margin: 0;
  box-sizing: border-box;
  display: block !important;
}
