<!DOCTYPE html>
<html>
    <head>
     <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='sys.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='loader.css')}}">
     <script src="{{url_for('static',filename='sys.js')}}"></script>
     <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
     <script src="{{url_for('static',filename='admin.js')}}"></script>
    </head>
    <body override="admin">
        <header tromoSM="admin">
         <h1 admin="maintitle">xScreenDesk Dashboard</h1>
         <mainindicate share="fuhnaw"><ani-tri></ani-tri>Start sharing</mainindicate>
        </header>

         <web-seperator></web-seperator>
         <img tromoSM="mainvid" src="dihdih.typeshit" alt="Failed to load screen preview" override="admin-imim">
    </body>
</html>
